.Follow{
    &__button button{
        border: 1px solid #4887C2;
        color: #4887C2;
        font-size: 15px;
        border-radius: 25px;
        position: absolute;
        width: 74px;
        height: 23px;
        left: 390px;
        top: 125px;
        align-items: center;
        text-align: center;
        cursor: pointer;
        &:hover{
            background-color: #4887C2;
            color: white;
        }
    }
}